<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path) do |f| %>

<div class="container">
 <div class="row">
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <br>
  <br><%= f.submit "Log in" %>
  
  </div>
  </div>
  
<% end %>
