<html>
<body>
  <section class="main-header">
    <%= image_tag('top3.jpg') %>
  </section>
<br></br>
<h3><%= link_to '新しく日記を投稿する', new_blog_path %></h3>

<div class="container">
  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-xs-12 col-md-12 blog-panel">
         <h2><%="Title:" %><%= blog.title %></h2>
         <p><%= image_tag(blog.image_url,:size => "250x200") unless blog.image.blank? %></p>
         <p><%="Comment:" %><%= blog.content %></p>
        <div class="blog-links">
          <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
          <li><%= link_to 'Show', blog, class: 'btn btn-default' %></li>
          <%  if blog.user_id == current_user.id %>
             <li><%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-info' %></li>
             <li><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></li>
           <% else %>

           <% end %>
           </ul>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
  
  </body>
</html>
